
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}
ul li,ol li{
	font-size:14px;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6,a{
	font-family:'Ubuntu', sans-serif !important;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- header --*/
.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	left:0;
	z-index:9999;
}
span.glyphicon.glyphicon-shopping-cart.my-cart-icon.my-cart-icon-affix {
	position: relative !important;
}


.snipcart-thumb a {
    display: block;
    text-align: center;
}

.agile_top_brand_left_grid {
    position: relative;
    display: block;
}

.product_list_header span {
    font-size: 1em;
    color: #fff;
	top: 1em;
}
input[type="submit"],#PPMiniCart .minicart-submit,.w3ls_vegetables ul li a,input[type="reset"],.agileinfo_mail_grid_left ul li a,.events_bottom_left2 ul li a,.w3ls_service_grids1_right a,ul.agileits_social_icons li a,.w3l_banner_nav_right_banner_pet a,.w3ls_w3l_banner_nav_right_grid_head_grid ul li a,.products-breadcrumb ul li a,.w3_footer_grid ul li a,.w3l_fresh_vegetables_grid ul li a,.wthree_footer_copy p a,.agile_top_brand_left_grid1 .button,.w3ls_logo_products_left1 ul.special_items li a,.w3ls_logo_products_left1 ul.phone_email li a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
} 
.header_one{
	background:#212121;
}
.w3l_offers{
	float:left;
}
.w3l_offers a{
	font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    padding: .5em 3em;
    background: #ff7200;
	display:block;
}
.w3l_search{
	float: left;
    width: 27%;
    margin:.1em 0 0em 10em;
}
.w3l_search input[type="text"]{
	outline: none;
    padding: 10px;
    color: #212121;
    font-size: 14px;
    width: 85%;
    background: #fff;
    border: 1px solid #999;
    float: left;
}
.w3l_search input[type="submit"]{
	outline: none;
    padding: 10px 0 9px;
    width: 15%;
    border: 1px solid;
    position: relative;
    background: url(../images/img-sp.png) no-repeat 14px 5px #778899;
}
.w3l_search input[type="submit"]:hover{
    background: url(../images/img-sp.png) no-repeat 14px 5px #ff7200;
}
.w3l_header_right{
	float: left;
    padding-left: 10em;
}
.w3l_header_right ul li {
    list-style-type: none;
}
.w3l_header_right1{
	float:right;
}
.w3l_header_right1 h2 a{
	font-size: .74em;
    color: #fff;
    padding: .5em 1.5em;
    background: #778899;
    display: block;
	text-decoration:none;
}
ul.dropdown-menu.drp-mnu {
    right: 0;
    min-width: 130px;
    text-align: center;
    padding: 1.5em 0;
    margin: 0;
    left:auto;
}
ul.dropdown-menu.drp-mnu li:first-child{
	margin-bottom: .5em;
}
ul.dropdown-menu.drp-mnu li a {
    color: #999;
}
ul.dropdown-menu.drp-mnu li a i {
    padding-left: 1em;
}
.logo_products{
	background:#eee;
	padding:1em 0 1em;
}
.w3ls_logo_products_left{
	float:left;
	margin-right: 7em;
}
.w3ls_logo_products_left h1 a{
	font-size: 1.5em;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background: url(../images/img-sp.png) no-repeat 54px 6px;
    line-height: 1;
    height: 97px;
}
.profile_details_drop a {
    display: block;
	padding-top:1em;
	font-size:1em;
	color:#fff;
}
.w3ls_logo_products_left h1 a span {
    font-size: .3em;
    display: block;
    color: #778899;
}
.w3ls_logo_products_left1{
	float: left;
	margin-top: 2.3em;
}
.w3ls_logo_products_left1 ul.phone_email li{
	display:inline-block;
	color:#212121;
	font-family: 'Ubuntu', sans-serif;
/*-- w3layouts --*/
	margin-right:2em;
}
.w3ls_logo_products_left1 ul.phone_email li a{
	color:#212121;
	text-decoration:none;
}
.w3ls_logo_products_left1 ul.phone_email li i{
	padding-right:1em;
}
.w3ls_logo_products_left1 ul.special_items li{
	display:inline-block;
}
.w3ls_logo_products_left1 ul.special_items li a{
	color:#212121;
	font-family: 'Ubuntu', sans-serif;
	text-decoration:none;
}
.w3ls_logo_products_left1 ul.special_items li a:hover,.w3ls_logo_products_left1 ul.phone_email li a:hover{
	color:#778899;
}
.w3ls_logo_products_left1 ul.special_items li i{
	padding:0 2em;
}
.w3ls_logo_products_left1:nth-child(3) {
    margin-left: 6em;
}


/*-- //header --*/
/*-- banner --*/
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar {
    margin-bottom: 0;
    border: none;
}
.w3l_banner_nav_left{
	float: left;
/*-- agileits --*/
    width: 20%;
    background: #f5f5f5;
}

.w3l_banner_nav_right{
	float:right;
	width:80%;
}
.navbar-nav > li {
    float: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #ff7200;
    color: #fff;
}
.navbar-nav {
    float: none;
    margin: 0;
	border-top: 1px solid #B58F62;
}
.navbar-nav > li > a {
    color: #212121;
    padding:10px 0px 10px 40px;
    border-bottom: 1px dotted #CDCDCD;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #ff7200;
    border: none;
}

.w3ls_vegetables ul li {
    list-style-type: none;
}
.w3ls_vegetables ul li:first-child {
    margin-bottom:.5em;
}
.w3ls_vegetables ul li a {
    color: #212121;
/*-- w3layouts --*/
    display: block;
    text-decoration: none;
}
.w3ls_vegetables ul li a:hover{
	color:#778899;
}
.w3l_banner_nav_right_banner1,.w3l_banner_nav_right_banner,.w3l_banner_nav_right_banner2{
	min-height:500px;
	text-align: right;
	padding:10em 17em 0 0;
	margin-bottom: 5em;
}
.w3l_banner_nav_right_banner{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.w3l_banner_nav_right_banner1{
	background:url(../images/2.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.w3l_banner_nav_right_banner2{
	background:url(../images/3.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.w3l_banner_nav_right_banner h3,.w3l_banner_nav_right_banner1 h3,.w3l_banner_nav_right_banner2 h3{
	font-size: 2em;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
	margin-bottom: 1em;
}
.w3l_banner_nav_right_banner h3 span,.w3l_banner_nav_right_banner1 h3 span{
	display:block;
	font-weight:600;
	line-height:2em;
}
.w3l_banner_nav_right_banner2 h3 i{
/*-- agileits --*/
	display:block;
	font-weight:600;
	line-height:2em;
	color:#778899;
}
.more a{
	padding:10px 30px;
	background:#ff7200;
	font-size:14px;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
	color:#fff;
	position:relative;
	display:block;
}
.more {
    width: 20%;
    text-align: center;
    margin-left:59em;
}
/* Saqui */
.button--saqui {
	overflow: hidden;
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.button--saqui.button--inverted {
	background: #fff;
	color: #37474f;
}
.button--saqui::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 9px 30px;
    color: #FFFFFF;
	-webkit-transform-origin: -25% 50%;
	transform-origin: -25% 50%;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transition: -webkit-transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
}
.button--saqui.button--inverted::after {
	color: #fff;
}
.button--saqui:hover::after,
.button--saqui:hover {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.button--saqui:hover {
	background-color: #778899;
	color: #656060;
}
.button--saqui.button--inverted:hover {
	background-color: #3f51b5;
	color: #3f51b5;
}
.button--saqui:hover::after {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
}
/*-- //banner --*/
/*-- banner_bottom --*/

/*-- //banner_bottom --*/
/*-- top-brands --*/
.tag {
    position: absolute;
    top: -1%;
    right: 10%;
}
.top-brands h3,.fresh-vegetables h3,.mail h3,.testimonials h3,.w3_login h3,.w3ls_w3l_banner_nav_right_grid h3,h3.title,.faq h3,.services h3,.about h3,.team h3,.events h3{
	text-align:center;
	color:#212121;
	padding-bottom:.5em;
	position:relative;
	font-size: 2.5em;
}
.top-brands h3:after,.fresh-vegetables h3:after,.mail h3:after,.w3_login h3:after,.testimonials h3:after,.w3ls_w3l_banner_nav_right_grid h3:after,h3.title:after,.faq h3:after,.services h3:after,.about h3:after,.team h3:after,.events h3:after{
	content: '';
    background: #778899;
    height: 2px;
    width: 8%;
    position: absolute;
    bottom: 0%;
    left: 46%;
}
.agile_top_brand_left_grid{
	background: #FFFFFF;
    padding: .5em;
    border: 1px solid #BEBEBE;
	position:relative;
}
.agile_top_brand_left_grid_pos{
	position:absolute;
	top:0%;
	left:0%;
}
.agile_top_brand_left_grid1{
	padding:1em;
	border:1px solid #D7D7D7;
}
.agile_top_brand_left_grid1 img{
	margin:0 auto;
}
.agile_top_brands_grids{
	margin:3em 0 0;
}
.top-brands{
    background: #f5f5f5;
}
.agile_top_brand_left_grid1 p{
	color:#212121;
	margin:1.5em 0 1em;
	line-height:1.5em;
	text-transform:capitalize;
	font-size:14px;
}
.agile_top_brand_left_grid1 h4,.agileinfo_single_right_snipcart h4{
	font-weight:600;
	font-size:1em;
	color:#212121;
}
.agile_top_brand_left_grid1 h4 span,.agileinfo_single_right_snipcart h4 span{
	font-weight:300;
	text-decoration:line-through;
	padding-left:1em;
}
/*-- cart --*/
.product_list_header {
    float: left;
    margin-left: 7em;
}
.snipcart-details {
    text-align: center;
	margin: 1.5em auto 1em;
    width:77%;
}

.snipcart-details input.button {
    font-size: 14px;
    color: #fff;
    background: #778899;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: .5em 0;
    outline: none;
}
.agile_top_brand_left_grid:hover .snipcart-details input.button,.snipcart-details input.button:hover{
    background: #ff7200;
}
.product_list_header input.button {
    color: #fff;
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
    padding: .5em 2.5em .5em 1em;
    border: 1px solid #ff7200;
    margin: .35em 0 0;
    background: url(../images/cart.png) no-repeat 116px 9px;
}

.minicart-showing #PPMiniCart form{
    overflow-x: hidden;
    overflow-y: auto;
}

/*--/payment--*/

/*-- //cart --*/
.column div.agile_top_brand_left_grid {
	position: relative;
	margin:0;
}
.agile_top_brand_left_grid figure {
	margin: 0;
	padding: 0;
	background:transparent;
	overflow: hidden;
	z-index: 0;
}
/* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before,.top_brand_left:hover .hover14 figure::before{
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/*-- //top-brands --*/

/*-- footer --*/
.footer{
	padding:4em 0;
	background:#212121;
}
.w3_footer_grid h3{
	font-size:1.2em;
	color:#fff;
	text-transform:uppercase;
	margin-bottom:2em;
}
.w3_footer_grid ul.add li{
	list-style-type: none;
    margin-bottom: 1.5em;
    padding-left: 2em;
    background: url(../images/img-sp.png) no-repeat -14px -193px;
}
.w3_footer_grid ul.add li a{
	color:#999;
	text-decoration:none;
	text-transform:capitalize;
}
.w3_footer_grid ul.add li a:hover{
	color:#fff;
}
.agile_footer_grids{
	padding:1em 0 0;
}
.w3_footer_grid_bottom h4,.w3_footer_grid_bottom h5{
	text-transform:capitalize;
	font-size:1em;
	margin-bottom:1em;
}
.w3_footer_grid_bottom h4{
	color:#ff7200;
}
.w3_footer_grid_bottom h5{
	color:#fff;
}
.agileits_social_icons li{
	display:inline-block;
}
.agileits_social_icons li a{
	border: 2px solid #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    color: #fff;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
}
.agileits_social_icons li a i {
    padding: 0.8em 0 0;
}
.agileits_social_icons li a:hover{
	background:#ff7200;
	border-color:#ff7200;
}

.w3_footer_grid ul.add1 li i {
    color: #ff7200;
}
.w3_footer_grid ul.add1 li span {
    margin-left: 2em;
    display: block;
}
.w3_footer_grid ul.add1 li a {
    color: #fff;
    text-decoration: none;
}
.w3_footer_grid ul.add1 li label{
	color:#778899;
	padding-right:1em;
}
.w3_footer_grid ul.add1 li{
	list-style-type: none;
    margin-bottom: 1.5em;
    color: #999;
    line-height: 1.8em;
}
.w3_footer_grid ul.add1 li a:hover{
	color:#999;
}
.wthree_footer_copy{
	margin: 4em 0 0;
    padding: 3em 0 0;
    text-align: center;
    border-top: 1px solid #3A3A3A;
}
.wthree_footer_copy p{
	font-size:14px;
	color:#999;
	line-height:1.8em;
}
.wthree_footer_copy p a{
	color:#fff;
	text-decoration:none;
}
.wthree_footer_copy p a:hover{
	color:#778899;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*--Typography--*/

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}

.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.nav-tabs {
	margin-bottom: 3em;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}

@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
.typo,.privacy,.faq,.services,.events,.mail,.agileinfo_single,.w3_login{
    padding: 1em 5em;
}
/*--//Typography --*/

/*-- checkout --*/

table.timetable_sub {
	width:100%;
	margin:0 auto;
}
.timetable_sub thead {
    background: #004284;
}
.timetable_sub th {
    background: #212121;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 13px;
    border-right: 1px solid #ded2d2;
}
.timetable_sub th, .timetable_sub td {
    text-align: center;
    padding: 7px;
    font-size: 14px;
    color: #212121;
}
.timetable_sub td {
	border:1px solid #CDCDCD;
}
td.invert-image a img {
    width:30%;
    margin: 0 auto;
}
.rem{
	position:relative;
}
.close1,.close2,.close3 {
    background: url('../images/close_1.png') no-repeat 0px 0px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 15px;
    top: -13px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
/*-- quantity-starts --*/
 .value-minus,
.value-plus{
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
	border:1px solid #b2b2b2;
	    vertical-align: bottom;
}
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before{
	content: ""; 
	width: 13px;
	height: 2px; 
	background: #000;
	left: 50%;
	margin-left: -7px; 
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
}
.quantity-select .entry.value-plus:after{
	content: "";
	height: 13px;
	width: 2px; 
	background: #000;
	left: 50%; 
	margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
	position: absolute;
}
.value  {
    cursor: default;
    width: 40px;
	height:40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
	margin-right: 3px;
}
.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover{
	background: #E5E5E5;
}

.quantity-select .entry.value-minus{
    margin-left: 0;
}
/*-- quantity-end --*/
.checkout-left-basket h4{
	padding: 1em;
    background: #ff7200;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1em;
}
.checkout-left {
    margin: 2em 0 0;
}
.checkout-left-basket ul li{
	list-style-type:none;
	margin-bottom:1em;
	font-size:14px;
	color:#999;
}
.checkout-left-basket {
    float: left;
    padding-left: 0;
}
.checkout-right-basket{
	float: right;
margin: 3em 0 0 0em;    
}
.checkout-left-basket ul li span {
    float: right;
}
.checkout-left-basket ul li:nth-child(5) {
    font-size: 1em;
    color: #212121;
    font-weight: 600;
    padding: 1em 0;
    border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
    margin: 2em 0 0;
}
.checkout-right-basket a {
    padding: 10px 20px 10px 18px;
    color: #fff;
    font-size: 1em;
    background: #212121;
    text-decoration: none;
}
.checkout-right-basket a:hover{
    background: #ff7200;
}
.checkout-right-basket a span {
    left: -.5em;
    top: 0.1em;
}
.checkout {
    padding: 5em 0;
}
.address_form_agile {
    float: right;
}
.information-wrapper input {
    width: 50%!important;
}
.check_box_one.cashon_delivery {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}




/*-----start-responsive-design------*/
@media (max-width:1680px){
	.snipcart-details {
		width: 76%;
	}
	.more {
		margin-left: 63em;
	}
}
@media (max-width:1600px){
	.snipcart-details {
		width: 77%;
	}
	.more {
		margin-left: 59em;
	}
}
@media (max-width:1440px){
	.w3l_header_right {
		padding-left: 4em;
	}
	.w3l_banner_nav_right_banner3 h3, .w3l_banner_nav_right_banner4 h3, .w3l_banner_nav_right_banner5 h3, .w3l_banner_nav_right_banner6 h3, .w3l_banner_nav_right_banner7 h3, .w3l_banner_nav_right_banner8 h3, .w3l_banner_nav_right_banner9 h3, .w3l_banner_nav_right_banner10 h3 {
		width: 45%;
	}
	.w3l_banner_nav_right_banner1, .w3l_banner_nav_right_banner, .w3l_banner_nav_right_banner2 {
		padding: 10em 7em 0 0;
	}
	.snipcart-details {
		width: 93%;
	}
	.view h4 {
		margin: 4.5em 0 0;
	}
	.w3agile_event_grid_right {
		padding-left: 2em;
	}
	.w3agile_event_grid_right h4 {
		font-size: 1em;
	}
	.w3agile_event_grid_left {
		height: 108px;
	}
	.events_bottom_left2 h4 {
		line-height: 1.8em;
	}
	.agileinfo_mail_grid_left {
		padding: 0;
	}
	.agileinfo_mail_grid_left ul li span {
		font-size: 0.8em;
	}
}
@media (max-width:1366px){
	.w3l_search {
		margin: .1em 0 0em 6em;
	}
	.w3l_banner_nav_right_banner1, .w3l_banner_nav_right_banner, .w3l_banner_nav_right_banner2 {
		padding: 7em 13em 0 0;
		min-height: 375px;
	}
	.more {
		margin-left: 51em;
	}
	.view p {
		padding: 10px 35px 0px;
	}
	.view h4 {
		margin: 4em 0 0;
	}
	.agile_top_brand_left_grid1 {
		padding: .5em;
	}
	.w3l_banner_nav_right_banner5 {
		background-position:-115px 0px;
	}
	.snipcart-details {
		width: 89%;
	}
	.w3l_banner_nav_right_banner9 {
		background-position:-50px 0px;
	}
	.w3agile_event_grid_right {
		padding-right: 0;
	}
	.agileinfo_mail_grid_left ul li i {
		font-size: 1.5em;
	}
	
}
@media (max-width: 1280px){
	.more {
		margin-left: 47em;
	}
	.product_list_header {
		margin-left: 3em;
	}
	

	.w3l_banner_nav_right_banner3 h3, .w3l_banner_nav_right_banner4 h3, .w3l_banner_nav_right_banner5 h3, .w3l_banner_nav_right_banner6 h3, .w3l_banner_nav_right_banner7 h3, .w3l_banner_nav_right_banner8 h3, .w3l_banner_nav_right_banner9 h3, .w3l_banner_nav_right_banner10 h3 {
		margin-left: 8em;
	}
	.view p {
		padding: 10px 25px 0px;
	}
	.view h4 {
		margin: 3.6em 0 0;
	}
	.w3ls_w3l_banner_left {
		padding-left: 0;
	}
	.w3l_banner_nav_right_banner7 {
		background-position:-130px 0px;
	}
	.w3l_banner_nav_right_banner9 {
		background-position: -125px 0px;
	}
	.agileinfo_single_right {
		padding-left: 3em;
	}
	.agileinfo_single_right_details {
		width: 33% !important;
	}
	.snipcart-details {
		width: 88%;
	}
	.typo, .privacy, .faq, .services, .events, .mail, .agileinfo_single, .w3_login {
		padding: 5em 3em;
	}
	.events_bottom_left1_grid {
		width: 110px;
		height: 110px;
	}
	.events_bottom_left1_grid h4 {
		padding: .5em 0;
	}
	.events_bottom_left2 h4 {
		margin: 1em 0 1em;
	}
	.wthree_banner_bottom_left_grid_pos {
		top: 8%;
	}
}
@media (max-width: 1080px){
	.w3l_offers a {
		font-size: 1.1em;
		padding:.6em 1em;
	}
	.w3l_search {
		margin: .1em 0 0em 3em;
		width: 30%;
	}
	.w3l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 6px 5px #778899;
	}
	.w3l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 6px 5px #ff7200;
	}
	.product_list_header {
		margin-left: 2em;
	}
	
	.snipcart-details input.button {
		font-size: 13px;
	}
	.w3l_banner_nav_right_banner3_btml h4 {
		font-size: 1.3em;
	}
	.w3ls_logo_products_left h1 a {
		font-size: 1.3em;
		background: url(../images/img-sp.png) no-repeat 43px -3px;
		height: 88px;
	}
	.w3ls_logo_products_left1 ul.phone_email li:last-child {
		margin-right: 0;
	}
	.w3ls_logo_products_left {
		margin-right: 5em;
	}
	.w3ls_logo_products_left1 ul.special_items li i {
		padding: 0 1em;
	}
	.w3ls_logo_products_left1:nth-child(3) {
		margin-left: 4em;
	}
	.more {
		margin-left: 42em;
		width: 25%;
	}
	.w3l_banner_nav_right_banner1, .w3l_banner_nav_right_banner, .w3l_banner_nav_right_banner2 {
		padding: 7em 4em 0 0;
	}
	
	.top_brand_left {
		padding-left: 0;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .w3_login h3, .w3ls_w3l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 2.3em;
	}
	.banner_bottom, .top-brands, .fresh-vegetables, .w3l_banner_nav_right_banner3_btm, .testimonials, .team, .newsletter-top-serv-btm, .w3ls_w3l_banner_nav_right_grid_sub {
		padding: 4em 0 !important;
	}
	.agile_footer_grids_w3_footer {
		width: 35%;
	}
	.w3_footer_grid {
		padding-left: 0;
	}
	.wthree_banner_bottom_left_grid_pos h4 {
		font-size: 1.3em;
	}
	#Awesome h4 {
		padding: 1.9em 0 0;
	}
	
	.w3l_fresh_vegetables_grid1_bottom_pos h5 {
		font-size: 1.1em;
		width: 85px;
		height: 85px;
	}
	.w3l_banner_nav_right_banner3 h3, .w3l_banner_nav_right_banner4 h3, .w3l_banner_nav_right_banner5 h3, .w3l_banner_nav_right_banner6 h3, .w3l_banner_nav_right_banner7 h3, .w3l_banner_nav_right_banner8 h3, .w3l_banner_nav_right_banner9 h3, .w3l_banner_nav_right_banner10 h3 {
		font-size: 1.7em;
		width: 55%;
	}
	.w3l_banner_nav_right_banner3, .w3l_banner_nav_right_banner4, .w3l_banner_nav_right_banner5, .w3l_banner_nav_right_banner6, .w3l_banner_nav_right_banner7, .w3l_banner_nav_right_banner8, .w3l_banner_nav_right_banner9, .w3l_banner_nav_right_banner10 {
		min-height: 225px;
		padding-top: 5.5em;
	}
	.view p {
		padding: 10px 10px 0px;
	}
	.view h4 {
		margin: 1.8em 0 0;
	}
	.agile_top_brand_left_grid1 p {
		font-size:13px;
	}
	.snipcart-details {
		width: 80%;
	}
	.w3agile_newsletter_right {
		width: 60%;
	}
	.w3l_banner_nav_right_banner5 {
		background-position: -45px 0px;
	}
	.w3l_banner_nav_right_banner7 {
		background-position: -45px 0px;
	}
	.w3l_banner_nav_right_banner9 {
		background-position: -45px 0px;
	}
	.w3l_banner_nav_right_banner9 h4 {
		font-size: 1.6em;
	}
	.w3l_banner_nav_right_banner_pet {
		padding: 3em 0 0 3em !important;
	}
	.typo, .privacy, .faq, .services, .events, .mail, .agileinfo_single, .w3_login {
		padding: 4em 3em;
	}
	.w3agile_event_grid_right h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}
	.w3agile_event_grid_left {
		height: 171px;
	}
	.w3agile_event_grid_left i {
		padding-top: 2em;
	}
	.events_bottom_left1_grid h4 {
		font-size: 1.5em;
	}
	.events_bottom_left1_grid {
		width: 85px;
		height: 90px;
	}
	.events_bottom_left2 h4 {
		font-size: 1em;
	}
	.agileinfo_mail_grid_left ul li:first-child {
		padding-right: 1em;
	}
	.agileinfo_mail_grid_left ul li:last-child {
		padding-left: 1em;
	}
	.agileinfo_mail_grid_right textarea {
		width: 93.5% !important;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 44.6%;
	}
	
	.wthree_banner_bottom_left_grid_pos h4 span {
		width: 70px;
		height: 70px;
	}
}
@media (max-width: 1024px){
	.w3l_header_right {
		padding-left: 2em;
	}
	.more {
		margin-left: 40em;
	}
	.navbar-nav > li > a {
		padding: 10px 0px 10px 25px;
	}
	.w3l_banner_nav_right_banner3 h3, .w3l_banner_nav_right_banner4 h3, .w3l_banner_nav_right_banner5 h3, .w3l_banner_nav_right_banner6 h3, .w3l_banner_nav_right_banner7 h3, .w3l_banner_nav_right_banner8 h3, .w3l_banner_nav_right_banner9 h3, .w3l_banner_nav_right_banner10 h3 {
		margin-left: 7em;
	}
	.w3l_banner_nav_right_banner3_btml h4 {
		font-size: 1.3em;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .w3_login h3, .w3ls_w3l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 2em;
	}
	.w3ls_w3l_banner_nav_right_grid1 h6 {
		font-size: 1.3em;
	}
	.w3l_banner_nav_right_banner3_btml h4 {
		font-size: 1.1em;
	}
	.view p {
		font-size: 13px;
	}
	.view h4 {
		margin: 1.5em 0 0;
	}
	.w3ls_service_grid_left h4 {
		font-size: 1.2em;
	}
	.w3ls_service_grids1_right {
		padding-right: 0;
	}
	.snipcart-details {
		width: 90%;
	}
}
@media (max-width: 991px){
	.w3l_search {
		margin: .1em 0 0em 2em;
	}
	.w3ls_logo_products_left h1 a {
		font-size: 1.2em;
		background: url(../images/img-sp.png) no-repeat 38px -9px;
		height: 83px;
	}
	.w3ls_logo_products_left1 ul.phone_email li {
		margin-right: 1em;
	}
	.w3ls_logo_products_left1 ul.special_items li i {
		padding: 0 .7em;
	}
	.container {
		width: 815px;
	}
	.w3ls_logo_products_left1:nth-child(3) {
		margin-left: 1em;
	}
	.w3ls_logo_products_left {
		margin-right: 1em;
	}
	.w3ls_logo_products_left1 ul.phone_email li i {
		padding-right: .5em;
	}
	.w3l_banner_nav_right_banner {
		background-position:-70px 0px;
	}
	.more {
		margin-left: 39em;
	}
	.wthree_banner_bottom_left_grid_sub,.wthree_banner_bottom_left_grid_sub1 {
		float: none;
		width: 100%;
	}
	.wthree_banner_bottom_left {
		padding: 0 1em;
		float: left;
		width: 33.33%;
	}
	.top_brand_left {
		padding: 0 1em;
		float: left;
		width: 50%;
	}
	.hover14.column {
		width: 75%;
		margin: 0 auto;
	}
	.snipcart-details {
		width: 70%;
	}
	.agile_top_brand_left_grid1 p {
		font-size: 14px;
	}
	.agile_top_brand_left_grid1 {
		padding: 1em;
	}
	.top_brand_left:nth-child(2) {
		margin: 0 0 3em;
	}
	
	
	.w3_footer_grid {
		padding-left: 1em;
		float: left;
		width: 50%;
	}
	.w3_footer_grid:nth-child(2) {
		margin-bottom: 7em;
	}
	.agile_footer_grids_w3_footer {
		margin: 0 !important;
	}
	.agile_footer_grids {
		padding: 2em 0 0;
	}
	.w3l_banner_nav_right_banner3_btml {
		padding-left: 1em;
		width: 55%;
		margin: 0 auto;
	}
	.view p {
		font-size: 14px;
		padding: 10px 35px 0px;
	}
	.view h4 {
		margin: 5em 0 0;
	}
	.w3ls_w3l_banner_left {
		padding-left: 1em;
		float: left;
		width: 50%;
	}
	.w3ls_w3l_banner_left:nth-child(3) {
		margin-bottom: 3em;
	}
	.w3ls_w3l_banner_left:nth-child(2) {
		margin-bottom: 3em;
	}
	.w3ls_w3l_banner_left_asd {
		margin-bottom: 0 !important;
	}
	.w3ls_w3l_banner_nav_right_grid_head_grid {
		padding-left: 1em;
		width: 55%;
		margin: 0 auto;
	}
	.w3ls_w3l_banner_nav_right_grid_head_grid:nth-child(2){
		margin:2em auto;
	}
	.w3ls_service_grid_right {
		margin: 2em 0 0;
	}
	.w3ls_service_grid_right_1 {
		padding-right: 1em;
		padding-left: 0;
		float: left;
		width: 33.33%;
	}
	.w3ls_service_grids1_right {
		padding-right: 1em;
		margin: 2em 0 0;
	}
	.about_counter_left {
		float: left;
		width: 25%;
	}
	.about_counter_left i {
		width: 75px;
		height: 75px;
		padding-top: 1em;
	}
	.about_counter_left p {
		font-size: 2em;
	}
	.about_counter_left h3 {
		font-size: 1.2em;
	}
	.services-bottom {
		min-height: 260px;
	}
	.wthree_news_top_serv_btm_grid {
		float: left;
		width: 33.33%;
	}
	.wthree_news_top_serv_btm_grid h3 {
		font-size: 1.1em;
	}
	.agileinfo_single_left {
		width: 50%;
		margin: 0 auto 2em;
	}
	.agileinfo_single h5 {
		font-size: 1.5em;
	}
	p.animi {
		margin: 3em 0 0;
	}
	.agile_about_grids {
		margin: 2em 0 0;
	}
	.agile_about_grid_left {
		margin: 2em 0 0;
	}
	.agileits_team_grid {
		float: left;
		width: 50%;
	}
	.agileits_team_grid:nth-child(2) {
		margin-bottom: 2em;
	}
	.w3_testimonials_grid {
		padding: 0 1em;
		float: left;
		width: 50%;
	}
	.w3agile_event_grid_right {
		float: right;
		width: 80%;
	}
	.w3agile_event_grid_left {
		height: 117px;
		float: left;
		width: 20%;
	}
	.w3agile_event_grid_left i {
		padding-top: 1em;
	}
	.w3agile_event_grid:nth-child(2) {
		margin: 3em 0 0;
	}
	.events_bottom_left1 {
		float: left;
		width: 30%;
	}
	.events_bottom_left2 {
		float: right;
		width: 70%;
	}
	.events_bottom_left1_grid {
		width: 125px;
		height: 115px;
	}
	.events_bottom_left1_grid h4 {
		padding: 1em 0;
	}
	.events_bottom_left:nth-child(2) {
		margin: 2em 0 0;
	}
	.agileinfo_mail_grid_left {
		width: 50%;
		margin: 0 auto 2em;
	}
	.agileinfo_mail_grid_left ul li:first-child {
		padding-right: 2em;
	}
	.agileinfo_mail_grid_left ul li:last-child {
		padding-left: 2em;
	}
	.agileinfo_mail_grid_right input[type="email"] {
		margin: 1em 0;
	}
	.agileinfo_mail_grid_right textarea {
		width: 95.5% !important;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 46.3%;
	}
	.w3l_panel_group_faq {
		margin: 1em 0 0;
	}
	.snipcart-details input.button {
		font-size: 14px;
	}
	.checkout-left-basket {
		float: left;
		width: 100%;
		margin-bottom: 2em;
	}
	.address_form_agile {
		float: right;
		width: 100%;
	}
	.checkout-right h4, .address_form_agile h4 {
      font-size: 1.2em;
	}
}
@media (max-width:800px){
	.w3l_offers a {
		padding: .6em 2em;
	}
	.w3l_search {
		width: 42%;
	}
	.w3l_offers a {
		padding: .6em 1em;
		font-size: .9em;
	}
	.w3l_search {
		width: 25%;
		margin: .1em 0 0em 1em;
	}
	.w3l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 0px 5px #778899;
		width: 18%;
	}
	.w3l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 0px 5px #ff7200;
	}
	.w3l_search input[type="text"] {
		width: 82%;
	}
	.product_list_header {
		margin-left: 1.5em;
	}
	.w3l_header_right {
		padding-left:2em;
	}
	.w3l_offers a {
		padding: .75em 1em;
		font-size: 1em;
	}
	.w3l_header_right1 h2 a {
		font-size: .6em;
		padding:.75em 1em;
	}
	.w3ls_logo_products_left h1 a {
		font-size: 1em;
		background: url(../images/img-sp.png) no-repeat 28px -17px;
		height: 74px;
	}
	.w3ls_logo_products_left1 {
		margin-top: 1.6em;
	}
	.navbar-nav > li > a {
		padding: 10px 0px 10px 15px;
	}
	.w3ls_vegetables_menu {
		left: 10%;
		min-width: 135px;
	}
	.w3l_banner_nav_right_banner1, .w3l_banner_nav_right_banner, .w3l_banner_nav_right_banner2 {
		min-height: 315px;
		padding: 5em 4em 0 0;
	}
	.more {
		margin-left: 30.5em;
	}
	.more a {
		padding: 7px 30px;
	}
	.w3l_banner_nav_right_banner2 {
		background-position:-60px 0px;
	}

	.w3agile_newsletter_left {
		width: 100%;
		text-align: center;
		float: none;
		margin-bottom: 2em;
	}
	.w3agile_newsletter_right {
		width: 70%;
		float: none;
		margin: 0 auto;
	}
	.container {
		width: 765px;
	}
	.modal-dialog {
		width: 710px;
	}
	.w3l_banner_nav_right_banner3 h3, .w3l_banner_nav_right_banner4 h3, .w3l_banner_nav_right_banner5 h3, .w3l_banner_nav_right_banner6 h3, .w3l_banner_nav_right_banner7 h3, .w3l_banner_nav_right_banner8 h3, .w3l_banner_nav_right_banner9 h3, .w3l_banner_nav_right_banner10 h3 {
		font-size: 1.4em;
		width: 65%;
		margin-left: 5em;
	}
	.w3l_banner_nav_right_banner3_btml {
		width: 68%;
	}
	.hover14.column {
		width: 100%;
	}
	.w3ls_w3l_banner_nav_right_grid_head_grid {
		width: 70%;
	}
	.w3l_banner_nav_right_banner7 {
		background-position: -140px 0px;
	}
	.typo, .privacy, .faq, .services, .events, .mail, .agileinfo_single, .w3_login {
		padding: 3em 2em;
	}
	.w3l_banner_nav_right_banner_pet a, .w3ls_service_grids1_right a {
		padding: 10px 40px;
		font-size: 14px;
	}
	.banner_bottom, .top-brands, .fresh-vegetables, .w3l_banner_nav_right_banner3_btm, .testimonials, .team, .newsletter-top-serv-btm, .w3ls_w3l_banner_nav_right_grid_sub {
		padding: 3em 0 !important;
	}
	.agileinfo_single_left {
		width: 75%;
	}
	
}
@media (max-width: 768px){
	.product_list_header {
		margin-left: 1em;
	}
	.w3l_header_right {
		padding-left: 1.5em;
	}
	#PPMiniCart {
		left: 39% !important;
	}
	.container {
		width: 750px;
	}
	.w3ls_logo_products_left1:nth-child(3) {
		margin-left: 1em;
		float: none;
		width: 100%;
		margin: 6em 0 1em;
		text-align: center;
	}
	.w3ls_logo_products_left {
		margin-right: 0;
	}
	.w3ls_logo_products_left1 {
		float: right;
	}
	.w3ls_logo_products_left h1 a {
		font-size: 1.2em;
		background: url(../images/img-sp.png) no-repeat 38px -8px;
		height: 85px;
	}
	ul.dropdown-menu.drp-mnu {
		top: 130%;
	}
	.more {
		margin-left: 26.5em;
		width: 30%;
	}
	.wthree_banner_bottom_left {
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	.wthree_banner_bottom_left:nth-child(2) {
		margin: 2em auto;
	}
	
	.w3l_fresh_vegetables_grid {
		width: 56%;
	}
	.w3ls_vegetables_menu {
		left: 5%;
	}
	.view h4 {
		margin: 4.5em 0 0;
	}
	.w3ls_logo_products_left1 ul.special_items li i {
		padding: 0 1.5em;
	}
	
	
}
@media (max-width: 767px){
	.w3l_banner_nav_left {
		float: none;
		width: 100%;
		background: #f5f5f5;
		text-align: center;
	}
	.navbar-toggle {
		float: none;
		margin: .55em 0 0;
		border: 1px solid #212121;
	}
	.navbar-toggle .icon-bar {
		border: 1px solid #212121;
	}
	.w3l_banner_nav_right {
		float: none;
		width: 100%;
	}
	.navbar-nav {
		border-top: none;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
		text-align: center;
	}
	.w3ls_vegetables_menu {
		left: auto;
		float: none;
		min-width: 100%;
		text-align: center;
	}
	.w3l_banner_nav_right_banner2 {
		background-position: 0px 0px;
	}
	.more {
		margin-left: 34.5em;
	}
}
@media (max-width: 736px){
	.w3l_search {
		width: 50%;
		margin: .1em 0 1em 10em;
	}
	.w3l_header_right {
		padding-left: 6.5em;
	}
	.w3l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 10px 5px #778899;
	}
	.w3l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 10px 5px #ff7200;
	}
	.logo_products {
		padding: 8em 0 1em;
	}
	.container {
		width: 710px;
	}
	.modal-dialog {
		width: 650px;
		margin: 130px auto 30px;
	}
	.more {
		margin-left: 33.5em;
	}
	
	
}
@media (max-width: 667px){
	.w3l_search {
		width: 55%;
		margin: .1em 0 1em 5.8em;
	}
	.container {
		width: auto;
	}
	.more {
		margin-left: 29.5em;
	}
	.footer {
		padding: 3em 0;
	}
	.wthree_footer_copy {
		margin: 3em 0 0;
		padding: 2.5em 0 0;
	}
	
}
@media (max-width: 640px){
	
	.fixed {
		position: relative;
	}
	.w3l_search {
		margin: .1em 0 1em 5em;
	}
	.w3l_header_right {
		padding-left: 4.5em;
	}
	.logo_products {
		padding: 2em 0 1em;
	}
	ul.dropdown-menu.drp-mnu {
		top: 100%;
	}
	.more {
		margin-left: 28em;
	}
	.wthree_banner_bottom_left {
		width: 75%;
	}
	.modal-dialog {
		width: 600px;
	}
	.w3l_fresh_vegetables_grid {
		width: 70%;
	}
	.w3agile_newsletter_right {
		width: 90%;
	}
	.w3l_banner_nav_right_banner3, .w3l_banner_nav_right_banner4, .w3l_banner_nav_right_banner5, .w3l_banner_nav_right_banner6, .w3l_banner_nav_right_banner7, .w3l_banner_nav_right_banner8, .w3l_banner_nav_right_banner9, .w3l_banner_nav_right_banner10 {
		min-height: 190px;
		padding-top: 4.5em;
	}
	.w3ls_w3l_banner_nav_right_grid {
		padding: 0 1em 3em;
	}
	.w3ls_w3l_banner_nav_right_grid_sub {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
	.w3l_banner_nav_right_banner7 {
		background-position: -105px 0px;
	}
	.w3l_banner_nav_right_banner_pet {
		padding: 2em 0 0 2em !important;
	}
	.w3l_banner_nav_right_banner9 {
		background-position: -95px 0px;
	}
	.w3ls_service_grid_left {
		padding: 0;
	}
	.about_counter_left h3 {
		font-size: 1em;
	}
	.about_counter_left p {
		font-size: 1.8em;
	}
	.wthree_news_top_serv_btm_grid {
		padding-left: 1em;
		float: none;
		width: 100%;
	}
	.wthree_news_top_serv_btm_grid:nth-child(2) {
		margin: 2em 0;
	}
	.wthree_news_top_serv_btm_grid h3 {
		margin: 1em 0 1em;
	}
	.map iframe {
		min-height: 250px;
	}
	.agileinfo_mail_grid_left {
		width: 100%;
	}
	.agileinfo_mail_grid_right,.wthree_contact_left_grid {
		padding: 0;
	}
	.agileinfo_mail_grid_right textarea {
		width: 100% !important;
		margin: 1em 0em;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 46.7%;
	}
	.value-minus, .value-plus {
		height: 17px;
		width: 17px;
	}
	.value {
		width: 17px;
		height: 17px;
		line-height: 0px;
	}
	.timetable_sub th, .timetable_sub td {
		padding: 7px 0px;
	}
	.timetable_sub th, .timetable_sub td {
		width: 50px;
		    font-size: 12px;
	}
	button.submit.check_out {
		display: block;
		position: relative;
		padding: 11px 14px;
		letter-spacing: 1px;
		font-size: 0.9em;
	}
}
@media (max-width: 600px){
	.w3l_search {
		margin: .1em 0 1em 3.9em;
	}
	.w3ls_logo_products_left1 ul.special_items li i {
		padding: 0 1em;
	}
	.modal-dialog {
		width: 535px;
	}
	.more {
		margin-left: 26em;
	}
	.wthree_banner_bottom_left {
		width: 82%;
	}
	.top_brand_left:nth-child(2) {
		margin: 0 0 2em;
	}
	
}
@media (max-width: 568px){
	.w3l_search {
		margin: .1em 0 1em 2.9em;
	}
	.more {
		margin-left: 24.5em;
	}
	.snipcart-details {
		width: 80%;
	}
	.agileinfo_marquee h4 {
		font-size: 1.1em;
	}
	.w3agile_newsletter_left h3 {
		margin: 0;
	}
	.newsletter {
		padding: 2em 0;
	}
	.w3agile_newsletter_right {
		width: 100%;
	}
	#PPMiniCart form {
		max-height: 100px !important;
	}
	.checkout-right h4, .address_form_agile h4 {
		font-size: 1em;
		line-height: 1.7em;
	}
	.checkout-left-basket h4 {
		padding: 0.9em;
		font-size: 1em;
	}
}
@media (max-width: 480px){
	
	.w3l_search {
		margin: .1em 0 0.5em 1.7em;
		width: 51%;
	}
	.w3l_search input[type="text"] {
		font-size: 13px;
	}
	.w3l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 0px 3px #778899;
		padding: 8px 0 9.9px;
	}
	.w3l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 0px 3px #ff7200;
	}
	.w3l_offers a {
		padding: .62em 1em;
	}
	.w3l_header_right1 h2 a {
		font-size: 14px;
	}
	.profile_details_drop a {
		padding-top: .5em;
	}
	.product_list_header span {
		top: .5em;
	}
	.modal-dialog {
		width: 468px;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 10px !important;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.8em;
	}
	.w3ls_logo_products_left h1 a {
		font-size: 1em;
		background: url(../images/img-sp.png) no-repeat 28px -18px;
		height: 75px;
	}
	.w3ls_logo_products_left1 ul.special_items li i {
		padding: 0 0.5em;
	}
	.w3ls_logo_products_left1:nth-child(3) {
		margin: 5.5em 0 1em;
	}
	.w3l_banner_nav_right_banner h3, .w3l_banner_nav_right_banner1 h3, .w3l_banner_nav_right_banner2 h3 {
		font-size: 1.5em;
	}
	.w3l_banner_nav_right_banner1, .w3l_banner_nav_right_banner, .w3l_banner_nav_right_banner2 {
		min-height: 240px;
		padding: 2.5em 3em 0 0;
		margin-bottom: 3em;
	}
	.more {
		margin-left: 18em;
		width: 40%;
	}
	.banner_bottom, .top-brands, .fresh-vegetables, .w3l_banner_nav_right_banner3_btm, .testimonials, .team, .newsletter-top-serv-btm, .w3ls_w3l_banner_nav_right_grid_sub {
		padding: 2em 0 !important;
	}
	.wthree_banner_bottom_left {
		width: 90%;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .w3_login h3, .w3ls_w3l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 1.8em;
	}
	.top_brand_left,.w3ls_w3l_banner_left {
		float: none;
		width: 70%;
		margin: 0 auto;
	}
	.top_brand_left:nth-child(2) {
		margin: 2em auto;
	}
	.top_brand_left:nth-child(3) {
		margin-bottom: 2em;
	}
	.w3l_fresh_vegetables_grid {
		width: 90%;
	}
	.agileinfo_breaking_news span {
		background: url(../images/img-sp.png) no-repeat 1px -103px;
		height: 65px;
	}
	.agileinfo_marquee {
		width: 85%;
	}
	.agileinfo_marquee h4 {
		font-size: 1em;
	}
	.w3agile_newsletter_right input[type="submit"] {
		width: 31.7%;
	}
	.w3agile_newsletter_right input[type="email"] {
		width: 68%;
	}
	.footer {
		padding: 2em 0;
	}
	.w3_footer_grid {
		float: none;
		width: 100%;
	}
	.w3_footer_grid h3 {
		font-size: 1.1em;
		margin-bottom: 1em;
	}
	.w3_footer_grid:nth-child(2) {
		margin: 3em 0;
	}
	.w3_footer_grid:nth-child(4) {
		margin: 3em 0 0;
	}
	.agile_footer_grids_w3_footer:nth-child(1) {
		margin-bottom: 2em !important;
	}
	.wthree_footer_copy {
		margin: 2em 0 0;
		padding: 1.5em 0 0;
	}
	.w3l_banner_nav_right_banner3 h3, .w3l_banner_nav_right_banner4 h3, .w3l_banner_nav_right_banner5 h3, .w3l_banner_nav_right_banner6 h3, .w3l_banner_nav_right_banner7 h3, .w3l_banner_nav_right_banner8 h3, .w3l_banner_nav_right_banner9 h3, .w3l_banner_nav_right_banner10 h3 {
		font-size: 1.2em;
		width: 75%;
		margin-left: 3em;
	}
	.w3l_banner_nav_right_banner3 span, .w3l_banner_nav_right_banner4 span, .w3l_banner_nav_right_banner5 span, .w3l_banner_nav_right_banner6 span, .w3l_banner_nav_right_banner7 span, .w3l_banner_nav_right_banner8 span, .w3l_banner_nav_right_banner9 span, .w3l_banner_nav_right_banner10 span {
		top: -85%;
	}
	.w3l_banner_nav_right_banner3_btml {
		width: 90%;
	}
	.w3ls_w3l_banner_left:nth-child(2) {
		margin-bottom: 2em;
	}
	.w3ls_w3l_banner_left:nth-child(3){
		margin:0 auto;
	}
	.w3ls_w3l_banner_left:nth-child(4){
		margin:2em auto;
	}
	.w3ls_w3l_banner_nav_right_grid_sub {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
	.w3ls_w3l_banner_nav_right_grid1 {
		margin: 2em 0 0;
	}
	.w3ls_w3l_banner_left_asdfdfd {
		margin-bottom: 2em;
	}
	.w3ls_w3l_banner_nav_right_grid1_veg {
		margin: 0 !important;
	}
	.w3ls_w3l_banner_nav_right_grid_veg {
		padding: 0 1em !important;
	}
	.w3ls_w3l_banner_nav_right_grid_head h6 {
		font-size: 1.3em;
	}
	.w3ls_w3l_banner_nav_right_grid_head_grid {
		width: 100%;
	}
	.w3ls_w3l_banner_nav_right_grid_head_grids {
		margin: 2em 0 0;
	}
	.w3ls_w3l_banner_nav_right_grid {
		padding: 0 1em 2em;
	}
	.typo, .privacy, .faq, .services, .events, .mail, .agileinfo_single, .w3_login {
		padding: 2em 1em;
	}
	.w3l_fruit {
		margin-bottom: 1.5em !important;
	}
	.agileinfo_single h5 {
		font-size: 1.3em;
	}
	.agileinfo_single_right {
		padding-left: 1em;
	}
	.about_counter_left {
		width: 50%;
	}
	.about_counter_left:nth-child(2) {
		margin-bottom: 2em;
	}
	.w3ls_service_grids1_right ul {
		padding-bottom: 1em;
	}
	.w3ls_service_grids1_right a {
		margin-bottom: 1em;
		display: block;
		width: 40%;
		text-align: center;
	}
	.w3ls_w3l_banner_nav_right_grid_popular {
		padding: 2em 0 !important;
	}

	.w3_testimonials_grid {
		float: none;
		width: 100%;
	}
	.privacy1-grid, .privacy2-grid {
		margin: 2em 0 0;
	}
	.panel-title > a {
		line-height: 1.8em;
	}
	.panel-heading {
		padding: 20px 15px;
	}
	.w3agile_event_grid_right h4 {
		font-size: 1em;
	}
	.w3agile_event_grid_left {
		height: 115px;
	}
	.w3_login {
		padding-bottom: 0;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 49.5%;
		margin: 0;
	}
	.product_list_header input.button {
		margin: 0;
		padding: .3em 2.5em .3em 1em;
		background: url(../images/cart.png) no-repeat 116px 5px;
	}
	#PPMiniCart form {
		width: 400px !important;
	}
	#PPMiniCart ul {
		width: 358px !important;
	}
	#PPMiniCart {
		left: 51% !important;
	}
}
@media (max-width: 414px){
	.w3l_offers a {
		padding: .62em .5em;
	}
	.w3l_search {
		margin: .1em 0 0.5em 0.7em;
	}
	.w3l_search input[type="submit"] {
		width: 18%;
	}
	.w3l_search input[type="text"] {
		width: 82%;
	}
	.w3ls_logo_products_left1 {
		float: none;
		text-align: center;
		margin-top: 1em;
	}
	.w3ls_logo_products_left {
		float: none;
		text-align: center;
		width: 31%;
		margin: 0 auto;
	}
	.w3ls_logo_products_left1:nth-child(3) {
		margin: 0.5em 0 1em;
	}
	
	.more a {
		font-size: 13px;
	}
	.more {
		margin-left: 15em;
	}
	.w3l_banner_nav_right_banner2 {
		background-position: -145px 0px;
	}
	
	
	.agile_top_brands_grids {
		margin: 2em 0 0;
	}
	.top_brand_left, .w3ls_w3l_banner_left {
		width: 80%;
	}
	.modal-dialog {
		width: 390px;
	}
	
	.w3l_banner_nav_right_banner3, .w3l_banner_nav_right_banner4, .w3l_banner_nav_right_banner5, .w3l_banner_nav_right_banner6, .w3l_banner_nav_right_banner7, .w3l_banner_nav_right_banner8, .w3l_banner_nav_right_banner9, .w3l_banner_nav_right_banner10 {
		min-height: 155px;
		padding-top: 3.7em;
	}
	.view p {
		font-size: 13px;
	}
	.view h4 {
		margin: 4em 0 0;
	}
	.w3ls_w3l_banner_nav_right_grid1 h6 {
		font-size: 1.3em;
		text-align: center;
	}
	.w3l_banner_nav_right_banner9 h4 {
		font-size: 1.2em;
	}
	.w3l_banner_nav_right_banner_pet p {
		margin: 0 0 1em;
	}
	.w3l_banner_nav_right_banner_pet a, .w3ls_service_grids1_right a {
		padding: 10px 30px;
	}
	.w3ls_service_grids1_right ul li {
		line-height: 1.8em;
	}
	.w3ls_service_grids1_right a {
		width: 45%;
	}
	.agileinfo_single h5 {
		font-size: 1.2em;
	}
	.agileinfo_single_right_details {
		width: 45% !important;
	}
	.privacy2-grid1 {
		padding: 0;
	}
	.privacy2-grid1 h5 {
		font-size: 1em;
	}
	.agileits_team_grid {
		float: none;
		width: 100%;
	}
	
	.w3agile_event_grid {
		padding: 0;
	}
	.w3agile_event_grid_right {
		padding-left: 1em;
	}
	.w3agile_event_grid_right h4 {
		font-size: .9em;
	}
	.w3agile_event_grid_left {
		height: 140px;
	}
	.w3agile_event_grid_left i {
		padding-top: 1.5em;
	}
	.events_bottom_left1 {
		padding-left: 0;
	}
	.events_bottom_left1_grid {
		width: 95px;
	}
	.form-module .form {
		padding: 20px;
	}
	.w3_login_module {
		min-height: 433px;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 100%;
		margin: 0;
	}
	.agileinfo_mail_grid_right input[type="submit"]{
		margin-bottom:1em;
	}
	
}
@media (max-width: 384px){
	.w3l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 17px 3px #ff7200;
	}
	.w3l_offers {
		float: none;
		text-align: center;
	}
	.w3l_search {
		margin: .1em 0;
		float: none;
		width: 100%;
	}
	.w3l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 17px 3px #778899;
		padding: 8px 0 8.9px;
	}
	.more {
		margin-left: 13em;
		width: 42%;
	}
	
	.top_brand_left, .w3ls_w3l_banner_left {
		width: 90%;
	}
	.agileinfo_breaking_news {
		width: 20%;
	}
	.agileinfo_marquee {
		width: 75%;
	}
	.view h4 {
		margin: 2.5em 0 0;
	}
	.modal-dialog {
		width: 290px;
	}	
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 3px !important;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.8em;
	}
	input.my-product-quantity {
		width: 40px !important;
	}
	table.table {
		width: 100%;
	}
	.product_list_header {
		margin-left: .3em;
	}
	.w3l_header_right {
		padding-left: 3.5em;
	}
	
}
@media (max-width: 375px){
	
	.w3l_banner_nav_right_banner3 h3, .w3l_banner_nav_right_banner4 h3, .w3l_banner_nav_right_banner5 h3, .w3l_banner_nav_right_banner6 h3, .w3l_banner_nav_right_banner7 h3, .w3l_banner_nav_right_banner8 h3, .w3l_banner_nav_right_banner9 h3, .w3l_banner_nav_right_banner10 h3 {
		width: 86%;
		margin-left: 1em;
	}
	.view p {
		padding: 10px 10px 0px;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .w3_login h3, .w3ls_w3l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 1.6em;
	}
	
	
	.w3ls_logo_products_left {
		width: 36%;
	}
}
@media (max-width: 320px){
	.agileits_social_icons li a i {
		padding: .9em 0 0;
	}
	ul li, ol li {
		font-size: 13px;
	}
	.w3ls_logo_products_left {
		width: 42%;
	}
	.w3l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 11px 3px #778899;
	}
	.w3l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 11px 3px #ff7200;
	}
	.w3l_banner_nav_right_banner1, .w3l_banner_nav_right_banner, .w3l_banner_nav_right_banner2 {
		min-height: 190px;
		padding: 2em 3em 0 0;
	}
	.more {
		margin-left: 10em;
		width: 50%;
	}
	
	
	.top_brand_left, .w3ls_w3l_banner_left {
		width: 100%;
	}
	.agile_top_brand_left_grid1 p,.agileinfo_mail_grid_right input[type="text"], .agileinfo_mail_grid_right input[type="email"], .agileinfo_mail_grid_right textarea,.w3agile_event_grid_right p,.agileits_team_grid p,p.animi,.w3_testimonials_grid p,.wthree_news_top_serv_btm_grid p,.privacy1-grid ul li span,.w3ls_service_grid_left p, .privacy2-grid1 p,.w3l_fresh_vegetables_grid ul li a,.wthree_footer_copy p,.w3l_banner_nav_right_banner_pet p {
		font-size: 13px;
	}
	.privacy1-grid ul li span {
		margin: 1em 0 0;
	}
	
	.agileinfo_single_right_snipcart {
		margin: 0 0 1em;
	}
	.agileinfo_single_right_details {
		width: 55% !important;
	}
	.w3agile_newsletter_left {
		margin-bottom: 1.5em;
	}
	.w3agile_description p {
		font-size: 13px;
		width: 100%;
	}
	.w3agile_description {
		margin: 2em 0 1em;
	}
	.privacy1-grid ul li {
		font-size: 1.1em;
	}
	.w3l_banner_nav_right_banner_pet a, .w3ls_service_grids1_right a {
		padding: 7px 30px;
		font-size: 13px;
	}
	
	.w3l_banner_nav_right_banner3 h3, .w3l_banner_nav_right_banner4 h3, .w3l_banner_nav_right_banner5 h3, .w3l_banner_nav_right_banner6 h3, .w3l_banner_nav_right_banner7 h3, .w3l_banner_nav_right_banner8 h3, .w3l_banner_nav_right_banner9 h3, .w3l_banner_nav_right_banner10 h3 {
		font-size: 1.1em;
	}
	.w3l_banner_nav_right_banner3 span, .w3l_banner_nav_right_banner4 span, .w3l_banner_nav_right_banner5 span, .w3l_banner_nav_right_banner6 span, .w3l_banner_nav_right_banner7 span, .w3l_banner_nav_right_banner8 span, .w3l_banner_nav_right_banner9 span, .w3l_banner_nav_right_banner10 span {
		top: -125%;
	}
	.w3l_banner_nav_right_banner3, .w3l_banner_nav_right_banner4, .w3l_banner_nav_right_banner5, .w3l_banner_nav_right_banner6, .w3l_banner_nav_right_banner7, .w3l_banner_nav_right_banner8, .w3l_banner_nav_right_banner9, .w3l_banner_nav_right_banner10 {
		min-height: 125px;
		padding-top: 2.7em;
	}
	.w3l_banner_nav_right_banner3_btml {
		width: 100%;
	}
	.w3l_banner_nav_right_banner3_btml ol {
		margin-bottom: 30px;
	}
	.w3ls_w3l_banner_nav_right_grid_head h6 {
		font-size: 1.2em;
	}
	.w3ls_w3l_banner_nav_right_grid_head_grid,.agile_about_grid_right,.agile_about_grid_left{
		padding: 0;
	}
	.agile_about_grid_left ol {
		padding-left: 15px;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .w3_login h3, .w3ls_w3l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 1.49em;
	}
	.agileits_team_grids {
		margin: 2em 0 0;
	}
	.agileits_team_grid h4 {
		font-size: 1em;
	}
	.agile_about_grids {
		margin: 1em 0 0;
	}
	.panel-body {
		padding: 1em;
		font-size: 13px;
	}
	.privacy1 h3 {
		font-size: 1.1em;
	}
	.products-breadcrumb ul li span {
		padding: 0 1em;
	}
	.w3l_banner_nav_right_banner2 {
		background-position: -125px 0px;
	}
	.w3l_banner_nav_right_banner_pet {
		padding: 1em 0 0 1em !important;
	}
	.w3l_banner_nav_right_banner9 h4 {
		font-size: 1.1em;
	}
	.w3ls_service_grid_left h4 {
		font-size: 1em;
	}
	.w3ls_service_grids {
		margin: 2em 0 0;
	}
	.about_counter_left i {
		width: 55px;
		height: 55px;
		padding-top: 1em;
		font-size: 1.1em;
	}
	.about_counter_left p {
		font-size: 1.5em;
	}
	.about_counter_left h3 {
		font-size: 14px;
	}
	.services-bottom {
		padding: 2em 0;
	}
	
	.w3agile_event_grid_left i {
		padding-top: 2.5em;
		font-size: 1.5em;
	}
	.events_bottom_left1 {
		padding-right: .5em;
	}
	.events_bottom_left1_grid {
		width: 73px;
		height: 86px;
	}
	
	ul.dropdown-menu.drp-mnu {
		min-width: 90px;
		padding: 1em 0;
	}
	.w3l_header_right {
		padding-left:1.5em;
	}

	.snipcart-details input.button {
		font-size: 13px;
	}
	.w3ls_w3l_banner_nav_right_grid1 h6 {
		font-size: 1.1em;
	}
	
	.w3_login_module {
		min-height: 375px;
	}
	
	.product_list_header input.button {
		padding: .3em 2.5em .3em 0.8em;
		background: url(../images/cart.png) no-repeat 105px 5px;
		font-size: 13px;
	}
}
.information-wrapper>lable{
	float:left;
	width:30%;
}

.flex-control-nav{
	display:none;
}

/*-----------form-------------*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*-------------form end----------*/